html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
}
.center-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/images/homebg.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

.container {
    flex: 1 0 auto;
}

/* Add this for the dark overlay */
.center-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15); /* adjust 0.45 for more/less darkness */
    z-index: 1;
    pointer-events: none;
}

.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/images/homebg2.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

    /* Add this for the dark overlay */
.login-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* adjust 0.45 for more/less darkness */
    z-index: 1;
    pointer-events: none;
}



.register-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/images/homebg3.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}
/* Add this for the dark overlay */
.register-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* adjust 0.45 for more/less darkness */
    z-index: 1;
    pointer-events: none;
}

.registerCaseHandler-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/images/homebg4.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}
/* Add this for the dark overlay */
.registerCaseHandler-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* adjust 0.45 for more/less darkness */
    z-index: 1;
    pointer-events: none;
}
    
footer {
    flex-shrink: 0;
}