@using Microsoft.AspNetCore.Identity

@inject SignInManager<kartverket2025.Models.DomainModels.ApplicationUser> SignInManager
@inject UserManager<kartverket2025.Models.DomainModels.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if(SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        <a class="nav-link" href="#" >Hello, @UserManager.GetUserName(User)</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOut">
            <button type="submit" class="btn nav-link">Logout</button>
        </form>
    </li>
    }

    else{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    }
</ul>