
<div class="container mt-5">
<h2>Access Denied</h2>
<p>You don't have access to this page.</p>
<div class="text-center mt-4">
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary ms-2">
        Back to Home
    </a>
</div>
</div>